<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    </meta>
    <title>aboutme</title>
    <link href="/css/aboutme.css" th:href="@{/css/aboutme.css}" rel="stylesheet">
    </link>
</head>

<body>
    <div class="navbar-header">
        <div class="portfolio">About Me</div>
        <ul class="links">
            <li class="link__home"><a href="/" id="a-index">Home<br></a></li>
            <li class="link__challenge"><a href="/challenge" id="a-challenge">Challenge</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="header">About me</div>
        <div class="main">
            <ul class="main1">
                <li class="main1__greeting">吉田 匡（よしだ まさし) と申します。</li>
                <li class="main1__eng">趣味はバーベキューです。なんでも焼いちゃいます！</li>
                <br>
                <br>
                <li class="main1__greeting">★ 自己紹介 ★</li>
                <li class="main1__eng">生年月日 / １９９３年 １月 １３日 </li>
                <li class="main1__eng">血液型 / B型</li>
                <li class="main1__eng">mail / masashiyoshida2019@gmail.com</li><br><br><br>
                <li class="main1__eng">
                    １９９３年 大阪府生まれです。<br>
                    立命館アジア太平洋大学卒業後、メーカー営業として勤務致しました。<br>
                    前職の業務管理システムが一新されたのをきっかけに、働き方が飛躍的に、良い方向へ変わりました。<br>
                    私自身も自ら記述したコードがプロダクトとして動き、いつか私自身が経験したように、<br>
                    「誰かのために」なる物を作りたいと思うことができました。<br>
                    「誰かのために」良いものを作り上げ、人の役に立つ気持ちを抱きつつ、成長したいと思います。
                </li>
                <br>
                <br>
                <li class="main1__greeting">★ 経験職務 ★</li>
                <li class="main1__eng">2012年4月〜2013年3月 : カナダワーキングホリデー制度を利用し、約1年間滞在。</li>
                <li class="main1__eng">2017年4月〜2019年12月 : メーカー 営業</li>
                <br>
                <br>
                <li class="main1__greeting">★ 自己PR ★</li>
                <li class="main1__eng">目標に向けてやり抜く力があります！</li>
                <li class="main1__eng">
                    前職では、専門性が高く、高単価商材の営業をしておりました。<br>
                    会社では、上司、先輩、同期も含め理系大学院の出身者が非常に多く、<br>
                    私は文系大学の出身ということもあり、全くの基礎知識もない状態でスタートしたことと、<br>
                    営業マンとしてすぐにフィールドに立てない自分に焦りを感じていました。<br>
                    このような環境の中でも、私は、何としてでも「高価な商材を販売する」という目標を持ち、<br>
                    その目標を達成するべくとにかく専門知識をつけるという課題を持ちました。<br>
                    その課題に対して私はやり遂げたいという気持ちから行動を起こしました。<br>
                    結果として、その頑張りを上司に評価頂き、通常であれば担当を持つのに半年かかるところを、<br>
                    配属して１ヶ月で担当を持たせて頂くことができました。<br>
                    このように、当初の目標を達成することができた上に、個人に知識がなくても<br>
                    自分の努力次第で成長できると実感できました。<br>
                    よって、私にとって目標に向けてやり抜く力は強みだと自負しております。<br>
                    この強みを軸に、エンジニアとして働く際も、今までの経験から学習と努力を怠らず、<br>
                    成長し続けて行けるエンジニアを目指します。<br>
                </li>
            </ul>
            <ul class="main2">
                <li class="main2__index"><a href="/" id="a-index">Home<br></a></li>
                <li class="main2__challenge"><a href="/challenge" id="a-challenge">Challenge</a></li>
            </ul>
        </div>
        <div class="footer">
            ©️ Masashi Yoshida's Portfolio 2020
        </div>
    </div>
</body>

</html>
