<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Masashi Yoshida's Portfolio</title>
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
</head>
<body>
    <div class="navbar-header">
        <div class="portfolio">Masashi Yoshida's Portfolio</div>
        <ul class="links">
            <li class="link__aboutme"><a href="/aboutme" id="a-aboutme">About Me<br></a></li>
            <li class="link__challenge"><a href="/challenge" id="a-challenge">Challenge</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="header">Masashi Yoshida's Portfolio</div>
        <div class ="main">
            <ul class="main1">
                <li class="main1__greeting">ご覧いただきありがとうございます。</li>
                <li class="main1__eng">未経験からエンジニアを目指しております。転職活動の為、作成致しました。何卒宜しく御願いたします。</li>
            </ul>
            <ul class="main2">
                <li class="main2__aboutme"> About Me  :    自己紹介ページとなります。</li>
                <li class="main2__challenge">Challenge  :    学習している内容のOutput及び成果物紹介ページとなります。</li>
            </ul>
            <ul class="main3">
                <li class="main3__aboutme"><a href="/aboutme" id="a-aboutme">About Me<br></a></li>
                <li class="main3__challenge"><a href="/challenge" id="a-challenge">Challenge</a></li>
            </ul>
        </div>
        <div class="footer">
            ©️ Masashi Yoshida's Portfolio 2020
        </div>
</div>
</body>
</html>